In [32]:
#imprting libraries
from mlxtend.frequent_patterns import apriori, association_rules #Import fpgrowth(for using it)
from mlxtend.preprocessing import TransactionEncoder
import pandas as pd

In [13]:
#sample Data
#Each tracsaction is a list of items bought together
# for eg ['I1','I2','I3',] means a transaction containing items I1,I2,I3

data = [
    ['I1','I2','I5'],
     ['I2','I4'],
     ['I2','I3'],
     ['I1','I2','I4'],
     ['I1','I3'],
     ['I2','I3'],
      ['I1','I3'],
     ['I1','I2','I3','I5'],
     ['I1','I2','I3']
]

In [14]:
type(data)

list

In [16]:
#for creating True False matrix of our data
te = TransactionEncoder()
transformed_data = te.fit(data).transform(data)

In [18]:
transformed_data

array([[ True,  True, False, False,  True],
       [False,  True, False,  True, False],
       [False,  True,  True, False, False],
       [ True,  True, False,  True, False],
       [ True, False,  True, False, False],
       [False,  True,  True, False, False],
       [ True, False,  True, False, False],
       [ True,  True,  True, False,  True],
       [ True,  True,  True, False, False]])

In [22]:
#creating data frame for matrix
df= pd.DataFrame(transformed_data,columns=te.columns_)

In [20]:
df

      I1     I2     I3     I4     I5
0   True   True  False  False   True
1  False   True  False   True  False
2  False   True   True  False  False
3   True   True  False   True  False
4   True  False   True  False  False
5  False   True   True  False  False
6   True  False   True  False  False
7   True   True   True  False   True
8   True   True   True  False  False

In [21]:
# get user input for minimum support as absolute count

In [24]:
min_support_count = int(input("Enter min support count(eg. absolute number of transaction , e.g 3 for 3 transaction ):"))
#convert absolute count to relative count 
min_support= min_support_count/len(data)

Enter min support count(eg. absolute number of transaction , e.g 3 for 3 transaction ): 2

In [31]:
frequent_itemsets = apriori(df, min_support=min_support,use_colnames=True) #use fpgrowth if u want to use it 
print("\nAll Frequent_itemsets :")
frequent_itemsets

All Frequent_itemsets :

     support      itemsets
0   0.666667          (I1)
1   0.777778          (I2)
2   0.666667          (I3)
3   0.222222          (I4)
4   0.222222          (I5)
5   0.444444      (I2, I1)
6   0.444444      (I3, I1)
7   0.222222      (I5, I1)
8   0.444444      (I2, I3)
9   0.222222      (I2, I4)
10  0.222222      (I2, I5)
11  0.222222  (I2, I3, I1)
12  0.222222  (I2, I5, I1)

In [28]:
#Get users input for minimum cofidence 
min_confidence = float(input("Enter minimun confidence (as a decimal, eg. 0.6 for 60%) :"))

Enter minimun confidence (as a decimal, eg. 0.6 for 60%) : 0.6

In [30]:
rules = association_rules(frequent_itemsets,metric = "confidence", min_threshold = min_confidence)

#display all rules based on confidence threshold
print("\n All association rules are : ")
print(rules[['antecedents','consequents','support','confidence']])

 All association rules are :
  antecedents consequents   support  confidence
0        (I1)        (I2)  0.444444    0.666667
1        (I3)        (I1)  0.444444    0.666667
2        (I1)        (I3)  0.444444    0.666667
3        (I5)        (I1)  0.222222    1.000000
4        (I3)        (I2)  0.444444    0.666667
5        (I4)        (I2)  0.222222    1.000000
6        (I5)        (I2)  0.222222    1.000000
7    (I2, I5)        (I1)  0.222222    1.000000
8    (I5, I1)        (I2)  0.222222    1.000000
9        (I5)    (I2, I1)  0.222222    1.000000